body {
    width: 350px;
}



.add-coin {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.add-coin label {
    margin-right: 10px;
}

.add-coin input, .add-coin select {
    margin-right: 10px;
}

#add-coin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#coin-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-collapse: separate;
    border-spacing: 80%;
}

.head-name {
    text-align: center;
}

#destroyAll {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}